.wrap_menu .main_items_product {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.wrap_menu .main_items_product .options_items {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #FFD700;
  padding: 15px;
}

.wrap_menu .main_items_product .options_items span {
  font-size: 18px;
}

.wrap_menu .main_items_product .options_items ul {
  margin: 0 10px;
}

.wrap_menu .main_items_product .options_items ul li {
  list-style-type: none;
  padding: 0 5px;
  float: left;
}

.wrap_menu .main_items_product .options_items ul li a {
  text-decoration: none;
  color: #696969;
}

.wrap_menu .main_items_product .options_items ul li a:hover {
  color: #000000;
}

.wrap_menu .main_items_product .main_list_items {
  padding: 10px 0;
  position: relative;
}

.wrap_menu .main_items_product .main_list_items .btn-more {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #DCDCDC;
  color: #696969;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.wrap_menu .main_items_product .main_list_items .btn-more.btn-previous {
  left: 0;
}

.wrap_menu .main_items_product .main_list_items .btn-more.btn-later {
  right: 0;
}

.wrap_menu .main_items_product .main_list_items .btn-more:hover {
  background-color: #C0C0C0;
}

.wrap_menu .main_items_product .main_list_items .btn-more:focus {
  outline: none;
}

.wrap_menu .main_items_product .main_list_items ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap_menu .main_items_product .main_list_items ul li {
  width: 200px;
  height: 350px;
  list-style-type: none;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  background-color: white;
}

.wrap_menu .main_items_product .main_list_items ul li a {
  padding: 5px 0;
  text-decoration: none;
}

.wrap_menu .main_items_product .main_list_items ul li a .heightlabel {
  background-color: #FFD700;
  width: 60%;
  font-size: 12px;
  margin: 10px 0;
  padding: 5px 2px;
  border-radius: 3px;
}

.wrap_menu .main_items_product .main_list_items ul li a .heightlabel label {
  padding: 0 5px;
  color: black;
}

.wrap_menu .main_items_product .main_list_items ul li a .heightlabel b {
  color: black;
}

.wrap_menu .main_items_product .main_list_items ul li a img {
  width: 180px;
  height: 180px;
}

.wrap_menu .main_items_product .main_list_items ul li a aside {
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  width: 50%;
  margin: 10px 0;
}

.wrap_menu .main_items_product .main_list_items ul li a aside img {
  width: 20px;
  height: 20px;
}

.wrap_menu .main_items_product .main_list_items ul li a aside span {
  color: white;
  font-size: 16px;
}

.wrap_menu .main_items_product .main_list_items ul li a h3 {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  color: black;
  margin: 5px 0;
}

.wrap_menu .main_items_product .main_list_items ul li a .price {
  display: flex;
  align-items: center;
}

.wrap_menu .main_items_product .main_list_items ul li a .price strong {
  color: red;
}

.wrap_menu .main_items_product .main_list_items ul li a .price span {
  text-decoration: line-through;
  padding: 0 5px;
  font-size: 12px;
  color: black;
  opacity: 0.7;
}

.wrap_menu .main_items_product .main_list_items ul li a .price i {
  color: red;
  font-size: 12px;
}

.wrap_menu .main_items_product .main_list_items ul li:hover {
  box-shadow: 0 0 20px #C0C0C0;
}
/*# sourceMappingURL=products.css.map */